  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
  *{
   padding:0;
   margin:0;
   box-sizing:border-box;
   font-family: 'Roboto', sans-serif;
   text-decoration:none;
   list-style:none;
  }
  header{
   display:flex;
 align-items:Center;
 height: 204px;
width:1920px;
 background:rgba(255, 255, 255, 0.9);
 right:0;
  }
 .wrapper{
 height:66px;
 display:flex;
 align-items:Center;
flex-direction:row;
gap:300px;
 }
 .Logo__links{
  display:flex;
  align-items:Center;
  gap:150px;
 }
 .logo{
  display:flex;
  align-items:Center;
 }
.logo img{
 height: 54px;
width: 37px;
}
.logo h3{
 font-size:28px;
}
.link ul{
 display:flex;
 gap:20px;
}
.link ul li a{
  color:#3B3B3B;
  font-size:20px;
}
.input{
 height: 66px;
width: 376px;
left: 0px;
top: 0px;
background: #FAFAFA;
border-radius: 36px;
display:flex;
align-items:center;
gap:2px;
}
.input input{
 height: 66px;
 width: 300px;
 border-radius: 36px;
 border:none;
 outline:none;
 background: #FAFAFA; 
}
.input i{
 height: 56px;
width: 56px;
left: 314px;
background: #7EB693;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size:28px;
color: white;
}
.Search__cart{
 display: flex;
 margin-left:20rem;
}
.cart{
 width: 159px;
            height: 66px;
           left:348px;   
           top: 0px;
           
        display: flex;
        align-items: center;
            border: 1px solid #E0E0E0;
            border-radius: 33px; 
}
.cart i{
 height: 56px;
width: 56px;
left: 314px;
background: #274C5B;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size:28px;
color: white;
}
.cart h4{
 font-weight:600;
 margin-left:.5rem;
}
