  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
  *{
   padding:0;
   margin:0;
   box-sizing:border-box;
   font-family: 'Roboto', sans-serif;
   text-decoration:none;
   list-style:none;
  }
  header{
   display:flex;
 align-items:Center;
 height: 204px;
width:1920px;
 background:rgba(255, 255, 255, 0.9);
 right:0;
  }
 .wrapper{
 height:66px;
 display:flex;
 align-items:Center;
flex-direction:row;
gap:300px;
 }
 .Logo__links{
  display:flex;
  align-items:Center;
  gap:150px;
 }
 .logo{
  display:flex;
  align-items:Center;
 }
.logo img{
 height: 54px;
width: 37px;
}
.logo h3{
 font-size:28px;
}
.link ul{
 display:flex;
 gap:20px;
}
.link ul li a{
  color:#3B3B3B;
  font-size:20px;
}
.input{
 height: 66px;
width: 376px;
left: 0px;
top: 0px;
background: #FAFAFA;
border-radius: 36px;
display:flex;
align-items:center;
gap:2px;
}
.input input{
 height: 66px;
 width: 300px;
 border-radius: 36px;
 border:none;
 outline:none;
 background: #FAFAFA; 
}
.input i{
 height: 56px;
width: 56px;
left: 314px;
background: #7EB693;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size:28px;
color: white;
}
.Search__cart{
 display: flex;
 margin-left:20rem;
}
.cart{
 width: 159px;
            height: 66px;
           left:348px;   
           top: 0px;
           
        display: flex;
        align-items: center;
            border: 1px solid #E0E0E0;
            border-radius: 33px; 
}
.cart i{
 height: 56px;
width: 56px;
left: 314px;
background: #274C5B;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size:28px;
color: white;
}
.cart h4{
 font-weight:600;
 margin-left:.5rem;
}
.banner{
width: 1920px;
    height: 898px;
    left: 0px;
    top: 204px;

}
.banner .content{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 23px;

position: absolute;
width: 530px;
height: 405px;
left: 260px;
top: 451px;

}
.banner .content .title{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 530px;
height: 303px;
}
.banner .content .title h1{
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 70px;
line-height: 82px;

color: #274C5B;
}
.banner .content .title h3{
    font-family: 'Yellowtail';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 49px;
color: #68A47F;
}
.banner .content button{
padding: 28px 39px;
gap: 10px;
width: 220px;
height: 79px;
background: #EFD372;
border-radius: 16px;
font-family: 'Roboto';
font-weight: 700;
font-size: 20px;
color: #274C5B;
border: none;
}
.banner .content button .text{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
width: 142px;
height: 23px;

}
.banner .bg{
 width:1920px;
 height:898px;
top: 204px;
left: 0;
background-color: #F1EFF0;
z-index: -1;
position:absolute;
}
.banner .bg .pattern{
       position: absolute;
width: 1920px;
height: 898px;
left: 0px;
    background-image: url(./images/bgpattern.png);
    background-repeat: no-repeat;
    z-index: 999;
}

.banner .image{
    position: absolute;
width: 1920px;
height: 898px;
left: 0px;
}
.banner .image .photo{
    background-image: url(./images/photo.png);
    background-repeat: no-repeat;
position: absolute;
width: 1000px;
height: 1148px;
left: 900px;
z-index: -1;
}
